:root {
    --footer-header-color: #2F303A;
    --back-color: #FFFFFF;
    --web-text: #2196f3;
    --text-color: #000000;
    --team-back: #F5F4FE;
    --link-color: #212121;
    --head-link: #757575;
    --navigate: #F5F4FA;
    --color-button: #188CE8;
    --border-color: #ececec;
    --cards-border: #EEEEEE;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.main-header {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-header-color);
    padding-left: auto;
    padding-right: auto;
}
.header1 {
    padding: 0px;
}
.container-first {
    display: flex;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}
.nav-list {
    display: flex;
    margin: 0;
    padding: 0px;
}
.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.address-list {
    display: flex;
    padding: 0px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
.address-list .item:not(:last-child) {
    margin-right: 50px;
}
.list-addr {
    padding: 0px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.studio-facts {
    padding-top: 94px;
}
.studio-facts-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}
.studio-facts-item {
    width: 270px;
    padding-top: 0px;    
    padding-bottom: 0px;

}
.studio-facts-container .studio-facts-item:not(:last-child) {
    margin-right: 30px;

}
.activities {
    padding-top: 94px;
    padding-bottom: 94px;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0px;
    align-items: center;
} 
.pictures-item {
    width: 370px;
}
.pictures .pictures-item:not(:last-child){
    margin-right: 30px;
}
.footer {
    background-color: var(--footer-header-color);
    padding-top: 60px;
    padding-bottom: 60px;

}
.button-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 50px;
}
.studio-chapters-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.studio-chapters-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.studio-chapters-item:nth-child(3n) {
    margin-right: 0px;
}
.studio-chapters-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.studio-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-back);
    text-align: center;
}
.studio-team-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
}
.name-card {
    width: 270px;
    padding-bottom: 30px;
}
.studio-team-container .name-card:not(:last-child) {
    margin-right: 30px;
}
.text-web {
    margin-right: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-text);
}
.text-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.text-studi {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.nav-list .header-links {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    padding-top: 30px;
    padding-bottom: 27px;   
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--head-link);

}
.link:hover, .link:focus {
    color: var(--web-text);
}
.efect-decision {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--team-back);
    
}
.order-service {
    width: 216px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--back-color);
    border: none;
    cursor: pointer;   
}
.order-service:hover, .order-service:focus {
    background: var(--color-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.facts-header {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-color);
}
.description-items {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.job-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    padding: 0px;
    margin-top:0px;
    margin-bottom: 50px;
}
.name {
    margin-top: 30;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
}
.description-team-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-link);
    margin: 0px;
}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.mail-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.name-card {
    background-color: var(--back-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.portfolio-head {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--link-color);
    padding-top: 30px;
    padding-bottom: 8px;
    padding-left: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--cards-border);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--cards-border);
}
.description-chapters {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--head-link);
    padding-left: 24px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--cards-border);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--cards-border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--cards-border);
}
.port-img {
    display: block;
}
.navigate {
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    background: var(--navigate);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.navigate:hover, .navigate:focus {
    background: var(--web-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--back-color);
    }
.button-list .nav-button:not(:last-child) {
    margin-right: 8px;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



