:root {
    --footer-header-color: #2F303A;
    --back-color: #FFFFFF;
    --web-text: #2196f3;
    --text-color: #000000;
    --team-back: #F5F4FE;
    --link-color: #212121;
    --head-link: #757575;
    --navigate: #F5F4FA;
    --color-button: #188CE8;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.main-header {
    background-color: var(--footer-header-color);
}
.footer {
    background-color: var(--footer-header-color);
}
.container-first {
    display: inline-block;
    height: 80px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 215px;
    padding-top: 24px;
    padding-right: 215px;
    padding-bottom: 25px;

}
.address-list {

}
.studio-team {
    background-color: var(--team-back);
}
.text-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-text);
}
.text-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.text-studi {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.header-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--link-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--head-link);
}
.link:hover, .link:focus {
    color: var(--web-text);
}
.efect-decision {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--team-back);
}
.order-service {
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--back-color);
    border: none;
    cursor: pointer;
}
.order-service:hover, .order-service:focus {
    background: var(--color-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.facts-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-color);
}
.description-items {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.job-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
}
.description-team-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.mail-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.name-card {
    background-color: var(--back-color);
}
.portfolio-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--link-color);
}
.description-chapters {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--head-link);
}
.navigate {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    background: var(--navigate);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.navigate:hover, .navigate:focus {
    background: var(--web-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--back-color);
    }
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
